<div id='container'>
  <form method="POST" action="/create_post">
    <input type='text' name='title' placeholder='Title'></br>
    <input type='text' name='url' placeholder='Url'></br>
    <input type='submit' name='submit' value='submit'>
  </form>
</div>
