<div class="container">


  <% if @posts %>
    <% @posts.reverse_each do |post| %>
      <a href="<%=post.url%>"><%= post.title%></a>
      <p><a href="/post?post_id=<% post.id %>"><%= post.comments.count %> comments</a></p>
    <% end %>
  <% end %>



</div>
